<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Timeline</title>
    <style>
        .hoverHandle{
            width: 300px;
            height: 200px;
            background-color: #000055;
            transition: all .7s ease;
        }

        .hoverHandle:hover {
            transition: all .7s ease;
            transform: translateX(50px) translateY(50px);
            background-color: #333333;
        }

        .slide-fade-enter-active {
            transition: all .7s ease;
        }

        .slide-fade-leave-active {
            transition: all 1.7s ease;
        }

        .slide-fade-enter, .slide-fade-leave-to {
            transform: translateX(10px);
            opacity: 0;
        }

        .pointer{
            height: 25px;
            background-color: #333;
        }
    </style>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div id="app">
        <button v-on:click="showing = !showing">Show or hide.</button>
        <transition name="slide-fade" tag="div">
            <div v-if="showing">Hello!</div>
        </transition>

    <weather-meter></weather-meter>
    <div class="hoverHandle"></div>
    </div>

    <script type="text/x-template" id="weather-meter-template">
        <div>
            Today's High: {{ high }}
            <div class="pointer" v-bind:style="{ width: shownHigh+'px' }"></div>
            How we feel about this: {{ ourFeelings }}
        </div>
    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>