*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    width: 100%;
    font-family: arial, sans-serif;
    background-color: #68A1B2;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#app{
    width: 100%;
    display: flex;
    justify-content: center;
}

.rolls{
    margin: 10px;
}

.number{
    text-align: center;
    margin: 10px;
    font-size: 24px;
    width: 60px;
}

.number img{
    width: 100%;
    height: 100%;
}

button{
    padding: 10px 15px;
    cursor: pointer;
}

#stats {
    width: 100%;
    font-size: 18px;
    display: flex;
    align-items: center;
    flex-direction:column;
    letter-spacing:1px;
}

#stats div{
    margin: 5px;
}